    {% extends "admin_base.html" %}
    {% block main_area %}
    <!-- Content Wrapper -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                    For more information about DataTables, please visit the <a target="_blank"
                        href="https://datatables.net">official DataTables documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example
                        <a type="button" href="./add"  class="btn btn-primary">Add Category</a>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-end">
                                <a type="button" href="./add"  class="btn btn-primary mb-2">Add Category</a>
                            </div>
                            <table class="table table-bordered" id="dataTableCategory" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>created_by</th>
                                        <th>updated_by</th>
                                        <th>created_at</th>
                                        <th>updated_at</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>

                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>created_by</th>
                                        <th>updated_by</th>
                                        <th>created_at</th>
                                        <th>updated_at</th>
                                        <th>Action</th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
    <!-- /.container-fluid -->


{% endblock %}
    {% block js_area %}
    <script >
        // Get CSRF token from cookies
        function getCSRFToken() {
            let name = 'csrftoken';
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $(document).ready(function(){
             $('#dataTableCategory').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "cache":false,
                    "ajax": {
                        "url": "{% url 'getAjaxList' %}",
                        "type": "POST",
                        "beforeSend":function(){
                            console.log("before request send");
                        },
                        "complete":function(){
                            console.log("after request send");
                        },
                         "headers": {
                            "X-CSRFToken": getCSRFToken()  // Correct way to include CSRF token
                        }
                    },
                    "pageLength": 10,
                    "lengthMenu": [5, 10, 25, 50],
                    "responsive": true
                });
            });

    </script>
    {% endblock %}

